openapi: 3.0.3
info:
  title: RFP RAG System API
  description: API for uploading, managing, and querying RFP documents and application documentation
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@company.com

servers:
  - url: https://api.rfprag.company.com/v1
    description: Production server
  - url: https://api-staging.rfprag.company.com/v1
    description: Staging server

security:
  - bearerAuth: []

paths:
  /documents/upload:
    post:
      summary: Upload a document
      description: Upload an RFP or documentation file for processing
      operationId: uploadDocument
      tags:
        - Documents
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - document_type
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload (Excel, PDF, or DOCX)
                document_type:
                  type: string
                  enum: [RFP, Documentation]
                  description: Type of document being uploaded
                metadata:
                  type: object
                  description: Additional metadata based on document type
                  properties:
                    rfp_name:
                      type: string
                    bank_name:
                      type: string
                    product:
                      type: string
                    document_name:
                      type: string
                    related_product:
                      type: string
                    submodule:
                      type: string
                    document_category:
                      type: string
                      enum: [Guidance, White Paper, User Manual, Gap Document]
                    tags:
                      type: array
                      items:
                        type: string
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  document_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [processing, queued]
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'

  /documents/{document_id}/status:
    get:
      summary: Get document processing status
      description: Check the processing status of an uploaded document
      operationId: getDocumentStatus
      tags:
        - Documents
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  document_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [processing, completed, failed, partial]
                  records_processed:
                    type: integer
                  total_records:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        row:
                          type: integer
                        error:
                          type: string
                  completed_at:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /documents/{document_id}/mapping:
    post:
      summary: Submit column mapping for RFP
      description: Submit the column mapping configuration for an RFP document
      operationId: submitColumnMapping
      tags:
        - Documents
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mappings:
                  type: object
                  properties:
                    product:
                      type: string
                      description: Source column name for product
                    requirement:
                      type: string
                      description: Source column name for requirement
                    requirement_category:
                      type: string
                    response_category:
                      type: string
                    effort_required:
                      type: string
                    comments:
                      type: string
                save_template:
                  type: boolean
                  description: Save this mapping as a template
                template_name:
                  type: string
                  description: Name for the mapping template
      responses:
        '200':
          description: Mapping accepted and processing started
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string

  /documents/{document_id}/records:
    get:
      summary: Get document records
      description: Retrieve all processed records from a document
      operationId: getDocumentRecords
      tags:
        - Documents
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Document records retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/RFPRecord'

  /query:
    post:
      summary: Query the RAG system
      description: Submit a natural language query to search RFP and documentation
      operationId: queryRAG
      tags:
        - Query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Natural language search query
                  minLength: 3
                  maxLength: 500
                top_n:
                  type: integer
                  description: Number of results to return
                  default: 10
                  minimum: 1
                  maximum: 100
                filters:
                  type: object
                  properties:
                    products:
                      type: array
                      items:
                        type: string
                    response_categories:
                      type: array
                      items:
                        type: string
                    date_from:
                      type: string
                      format: date
                    date_to:
                      type: string
                      format: date
                    document_types:
                      type: array
                      items:
                        type: string
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  total_results:
                    type: integer
                  returned_results:
                    type: integer
                  results:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/RFPRecord'
                        - type: object
                          properties:
                            relevance_score:
                              type: number
                              format: float
                              minimum: 0
                              maximum: 1
                            highlight:
                              type: string
                              description: Highlighted matching text

  /templates:
    get:
      summary: List mapping templates
      description: Get all saved column mapping templates
      operationId: listTemplates
      tags:
        - Templates
      responses:
        '200':
          description: Templates retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    template_id:
                      type: string
                      format: uuid
                    template_name:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    mappings:
                      type: object

  /health:
    get:
      summary: Health check
      description: Check if the API is healthy
      operationId: healthCheck
      tags:
        - System
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RFPRecord:
      type: object
      properties:
        record_id:
          type: string
          format: uuid
        product:
          type: string
        requirement:
          type: string
        requirement_category:
          type: string
          enum: [Must Have, Critical, Good to Have]
        response_category:
          type: string
          enum: [Readily Available, Configuration, Customization, Not Available]
        effort_required:
          type: string
          enum: [Low, Medium, High, Considerable]
        comments:
          type: string
        rfp_name:
          type: string
        bank_name:
          type: string
        date:
          type: string
          format: date
        created_by:
          type: string
        last_modified:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    PayloadTooLarge:
      description: File too large
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
              max_size_mb:
                type: integer